@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  max-width: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #525252;
  color: #FFF;
  position: relative;
  background: transparent;
}

body:before {
  content: "";
  position: fixed;
  background: #525252 top right no-repeat;
  background-size: hover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  color: #1dcccc;
  text-decoration: none;
}

a:hover {
  color: #1895cf;
  text-decoration: none;
}

nav div a {
  font-family: 'Roboto Mono', 'Times New Roman', Times, serif, sans-serif;
  color: #FFF;
}

#landing {
  width: 100%;
  height: 100vh;
  background: url("https://i.pinimg.com/originals/fd/eb/a4/fdeba43a9d969e0a5819f73e5a1d74bf.jpg") top right;
  background-size: cover;
  position: relative;
}

#landing:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#landing .landing-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

#landing h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Roboto Mono", "Times New Roman", Times, serif, sans-serif;
  color: #FFF;
}

#landing h2 {
  color: #EEE;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#landing .btn-scroll {
  -webkit-transition: .5s;
  transition: .5s;
  color: #1dcccc;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#landing .btn-scroll span {
  font-size: 35px;
}

#landing .btn-scroll:hover {
  color: #1895cf;
  background: rgba(255, 255, 255, 0.15);
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #FFF;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: lightgray;
}

.skills .progress-bar {
  height: 10px;
  background: blue;
  -webkit-transition: none !important;
  transition: none !important;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #3030fc;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: skyblue;
  margin-bottom: 10px;
}

.resume .resume-item h4 a {
  color: skyblue;
}

.resume .resume-item h4 a:hover {
  color: #1895cf;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 250px;
}

.resume .resume-item ul li {
  padding-bottom: 0;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #1895cf;
  border: 2px solid #1dcccc;
}

.form {
  margin-left: 5%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form form .md-form {
  color: black;
}

.form form .md-form input {
  background-color: white;
  outline: none;
}

.form .button-submit button {
  background-color: #4fa1c2;
  color: #FFF;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-radius: 15%;
}

.form .button-submit button:hover {
  background-color: #1895cf;
}

.form ul li p {
  font-weight: 300;
}

.form ul li p span {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */