@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); // 'Roboto Mono' Regular 400
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); // 'Roboto' Regular 400

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$font-main: 'Roboto Mono', 'Times New Roman', Times, serif, sans-serif;
$font-alt: 'Roboto', Arial, Helvetica, sans-serif;
$blue-main: rgb(29, 204, 204);
$blue-secondary: rgb(24, 149, 207);
$background-color: rgb(82, 82, 82);
$background-transparent-color: rgba(255, 255, 255, 0.15);
$main-white: #FFF;

* {
    max-width: 100%;
}

body {
    font-family: $font-alt;
    background-color: $background-color;
    color: $main-white;
    position: relative;
    background: transparent;

    &:before {
        content: "";
        position: fixed;
        background: $background-color top right no-repeat; // Can place an image
        background-size: hover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

a {
    color: $blue-main;
    text-decoration: none;

    &:hover {
        color: $blue-secondary;
        text-decoration: none;
    }
}

#landing {
    width: 100%;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/fd/eb/a4/fdeba43a9d969e0a5819f73e5a1d74bf.jpg") top right;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        background: rgba(0,0,0, 0.65);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .landing-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: $font-main;
        color: $main-white;
    }

    h2 {
        color: #EEE;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll {
        transition: .5s;
        color: $blue-main;
        animation: up-down 1s ease-in-out infinite alternate-reverse both;
    
        span {
            font-size: 35px;
        }

        &:hover {
            color: $blue-secondary;
            background: $background-transparent-color;
        }
    }
}

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: $font-alt;
            color: $main-white;

            .val {
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: lightgray;
    }

    .progress-bar {
        height: 10px;
        background: blue;
        -webkit-transition: none !important;
        transition: none !important;
    }
}


.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $main-white;
    }

    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid rgb(48, 48, 252);
        position: relative;
        
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font-alt;
            color: skyblue;
            margin-bottom: 10px;

            a {
                color: skyblue;
            }
            a:hover {
                color: $blue-secondary;   
            }
        }

        h5 {
            font-size: 16px; 
            background: $background-transparent-color;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 250px;

            li {
                padding-bottom: 0;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: $blue-secondary;
            border: 2px solid $blue-main;
        }
    }
}

.form {
    margin-left: 5%;
    font-family: $font-alt;

    form {
        .md-form {
            color: black;
            input {
                background-color: white;
                outline: none;
            }
        }
    }

    .button-submit {
        a {
            background-color: rgb(79, 161, 194);
            color: $main-white;
            font-family: $font-alt;
        }
        a:hover {
            background-color: $blue-secondary;
        }
    }

    ul {        
        li {
            p {
                font-weight: 300;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}