$blue-main: rgb(27, 238, 238);
$blue-secondary: rgb(24, 149, 207);

body {
    font-family: sans-serif;
    background-color: #040404;
    color: #FFF;
    position: relative;
    background: transparent;

    &:before {
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; // Can place an image
        background-size: hover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

a {
    color: $blue-main;
    text-decoration: none;

    &:hover {
        color: $blue-secondary;
        text-decoration: none;
    }
}

#landing {
    width: 100%;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/fd/eb/a4/fdeba43a9d969e0a5819f73e5a1d74bf.jpg") top right;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        background: rgba(0,0,0, 0.65);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .landing-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: fantasy; // Update later
        color: #FFF;
    }

    h2 {
        color: #EEE;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll {
        transition: .5s;
        color: $blue-main;
        animation: up-down 1s ease-in-out infinite alternate-reverse both;
    
        i {
            font-size: 48px;
        }

        &:hover {
            color: $blue-secondary;
        }
    }
}

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #FFF;

            .val {
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: lightgray;
    }

    .progress-bar {
        height: 10px;
        transition: .9s;
        background: linear-gradient(to right, lightblue, blue);
    }
}


.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #FFF;
    }

    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid yellowgreen;
        position: relative;
        
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: yellow;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 16px; 
            background: rgba(255, 255, 255, 0.15);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 250px;

            li {
                padding-bottom: 0;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: yellow;
            border: 2px solid aqua;
        }
    }
}